@using CafeteriaApp.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="top-names">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected(action: "Index")">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="@Html.IsSelected(action: "Index")">@Html.ActionLink("Ordenes", "Index", "Order")</li>
                    <li class="@Html.IsSelected(action: "Inventory")">@Html.ActionLink("Inventario", "Inventory", "Home")</li>
                    <li class="@Html.IsSelected(action: "Client")">@Html.ActionLink("Clientes", "Client", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container footer">
                    <p>
                        Sistema de Control de Cafetería / Universidad Acción Pro-Educación
                        y Cultura - 2015 &copy; Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
