@model IEnumerable<CafeteriaApp.Models.Client>

@{
    ViewBag.Title = "Clientes";
}

    <form action="/Home/Client" method="get">
        <div class="row searchPanel">
            <div class="col-md-8 col-lg-8">
                <label class="sr-only" for="search">Buscar</label>
                <input type="text" class="form-control" name="searchTerm" id="search" placeholder="Buscar" required="required">
            </div>
            <div class="col-md-4 col-lg-4">
                <select name="type" class="form-control" id="dropdownMenu1">
                    <option value="" disabled selected>Criterio</option>
                    <option value="Ident">Identificador</option>
                    <option value="Nomb">Nombre</option>
                    <option value="Ced">Cédula</option>
                    <option value="tipo">Tipo</option>
                    <option value="Cred">Crédito</option>
                    <option value="Reg">Registro</option>
                    <option value="State">Estado</option>
                </select>
                <button type="submit" id="btnBuscar" class="btn btn-info">Buscar</button>
            </div>
        </div>
    </form>
<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">Identificador</th>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Tipo</th>
            <th>Crédito</th>
            <th>Registro</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Estado == "Inactivo" ? "danger" : "")">  
                <td>
                    @Html.DisplayFor(modelItem => item.Identificador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    RD$@Html.DisplayFor(modelItem => item.Credito) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registro)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Estado)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Administrador"))
{
    <div style="padding:10px; margin-top: 20px; text-align: center; border:1px solid black">
        <a href="@Url.Action("Report",new {id= "PDF"})"><img src="../Content/images/pdf-icon.png" /> Reporte en PDF</a>
        <a href="@Url.Action("Report",new {id= "Excel"})"> <img src="../Content/images/excel-icon.png" /> Report en Excel</a>
        <a href="@Url.Action("Report",new {id= "Word"})"><img src="../Content/images/word-icon.ico" /> Reporte en Word</a>
        <a href="@Url.Action("Report",new {id= "Image"})"><img src="../Content/images/image-icon.png"/> Reporte en Imagen</a>
    </div>
}