@model IEnumerable<CafeteriaApp.Models.Product>
@{
    ViewBag.Title = "Inventario";
}

<form action="/Home/Inventory" method="get">
    <div class="row searchPanel">
        <div class="col-md-8 col-lg-8">
            <label class="sr-only" for="search">Buscar</label>
            <input type="text" class="form-control" name="searchTerm" id="search" placeholder="Buscar" required="required">
        </div>
        <div class="col-md-4 col-lg-4">
            <select name="type" class="form-control" id="dropdownMenu1">
                <option value="" disabled selected>Criterio</option>
                <option value="Cod">Codigo</option>
                <option value="Desc">Descripcion</option>
                <option value="Marc">Marca</option>
                <option value="Cost">Costo</option>
                <option value="Prov">Proveedor</option>
                <option value="Exist">Existencia</option>
                <option value="State">Estado</option>
            </select>
            <button type="submit" id="btnBuscar" class="btn btn-info">Buscar</button>
        </div>
    </div>
</form>
<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">Codigo</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Costo</th>
            <th>Proveedor</th>
            <th>Existencia</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
      @foreach(var item in Model) 
      {
          <tr class="@(item.Estado == "Inactivo" ? "danger" : "")">  
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    RD$@Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Existencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
            </tr>
     }     
    </tbody>
</table>

@if (User.IsInRole("Administrador"))
{
    <div style="padding:10px; margin-top: 20px; text-align: center; border:1px solid black">
        <a href="@Url.Action("Report",new {id= "PDF"})"><img src="../Content/images/pdf-icon.png" /> Reporte en PDF</a>
        <a href="@Url.Action("Report",new {id= "Excel"})"> <img src="../Content/images/excel-icon.png" /> Reporte en Excel</a>
        <a href="@Url.Action("Report",new {id= "Word"})"><img src="../Content/images/word-icon.ico" /> Reporte en Word</a>
        <a href="@Url.Action("Report",new {id= "Image"})"><img src="../Content/images/image-icon.png"/> Reporte en Imagen</a>
    </div>
}