@model IEnumerable<CafeteriaApp.Models.Order>

@{
    ViewBag.Title = "Ordenes";
}
<form action="/Order" method="get">
<div class="row searchPanel">
    <div class="col-md-8 col-lg-8">
        <label class="sr-only" for="search">Buscar</label>
        <input type="text" class="form-control" name="searchTerm" id="search" placeholder="Buscar" required="required">
    </div>
    <div class="col-md-4 col-lg-4">
        <select name="type" class="form-control" id="dropdownMenu1">
            <option value="" disabled selected>Criterio</option>
            <option value="noFac">No. Factura</option>
            <option value="Art">Artículo</option>
            <option value="Cli">Cliente</option>
            <option value="Empl">Empleado</option>
            <option value="Date">Fecha</option>
            <option value="State">Estado</option>
        </select>
        <button type="submit" id="btnBuscar" class="btn btn-info">Buscar</button>
    </div>
</div>
</form>
<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">No.</th>
            <th>Cliente</th>
            <th>Artículos</th>
            <th>Empleado</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model)
{
    <tr class="@(item.Estado == true ? "success" : "warning") ">
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado)
        </td>
        <td>
            RD$@Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            <div class="row">
                <div class="col-md-8">
                    @(item.Estado == true ? "Despachada" : "En Proceso")
                </div>
                 <div class=" col-md-4">
                    <a href="@("/Order/Edit/"+item.Id)" class="text-right">
                        <span style="font-size:18px;" class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@("/Order/Delete/"+item.Id)" class="text-right">
                        <span style="font-size:18px;" class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
           </div>
        </td>
    </tr>
}
      </tbody>
</table>
<div class="container">
        @Html.ActionLink("Agregar Orden", "Create", "Order", null, new { @class = "btn btn-info pull-right" })
</div>

@if (User.IsInRole("Administrador"))
{                   
    <div style="padding:10px; margin-top: 20px; text-align: center; border:1px solid black">
        <a href="@Url.Action("Report",new {id= "PDF"})"><img src="Content/images/pdf-icon.png" /> Reporte en PDF</a>
        <a href="@Url.Action("Report",new {id= "Excel"})"> <img src="Content/images/excel-icon.png" /> Reporte en Excel</a>
        <a href="@Url.Action("Report",new {id= "Word"})"><img src="Content/images/word-icon.ico" /> Reporte en  Word</a>
        <a href="@Url.Action("Report",new {id= "Image"})"><img src="Content/images/image-icon.png"/> Reporte en Image</a>
    </div>
}